/* ---- reset ---- */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* ---- Variables ---- */
/* ---- typography ---- */
body {
  color: #161616;
  background-color: #fbfbfb;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ---- layout ---- */
section {
  width: 100%;
}

/* ---- components ---- */
/* -- navbar -- */
nav {
  height: 68px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: bold;
  background-color: #fbfbfb;
}
nav .nav-logo {
  display: flex;
  width: 420px;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
}
nav .nav-logo .logo-img {
  width: 50px;
}
nav .nav-links {
  display: flex;
  justify-content: space-around;
  width: 410px;
  font-size: 20px;
}
nav .nav-links .nav-link {
  border: 1px solid #161616;
  padding: 8px 14px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px #949494;
}

/* -- Intro -- */
.intro-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}
.intro-section .intro-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 35px;
}
.intro-section .intro-left .intro-text {
  margin-bottom: 40px;
}
.intro-section .intro-left .intro-text.title {
  font-weight: bold;
}
.intro-section .intro-right .intro-img {
  width: 550px;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}
.intro-section .intro-right .intro-img:hover {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}

/* -- Card List -- */
.card-list-opt {
  margin-top: 40px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
}
.card-list-opt .list-option:hover {
  cursor: pointer;
}
.card-list-opt .selected-option {
  border-bottom: 1px solid #161616;
}

.card-cuadricle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card-cuadricle .add-img-container {
  height: 390px;
  display: flex;
  align-items: center;
  margin: 20px 20px 0px 20px;
}
.card-cuadricle .add-img-container .add-card-img {
  width: 50px;
}
.card-cuadricle .add-img-container .add-card-img:hover {
  cursor: pointer;
}

/* -- Create and Edit Card -- */
.add-black-text {
  background-color: #161616;
  color: #fbfbfb;
  font-weight: bolder;
  font-size: 18px;
}

.add-white-text {
  background-color: #fbfbfb;
  color: #161616;
  font-weight: bolder;
  font-size: 18px;
}

.add-card, .edit-card {
  display: flex;
  flex-direction: column;
}

.add-card-btn {
  border: none;
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
  margin-top: 10px;
}

/* -- Card -- */
.guide-card-container {
  margin: 20px 20px 0px 20px;
  height: 390px;
}

.white-card, .black-card {
  border-radius: 0.25in;
  padding: 20px;
  width: 270px;
  height: 380px;
  font-weight: bolder;
  font-size: 22px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.white-card .white-card-edit-icon, .black-card .black-card-edit-icon {
  width: 30px;
  height: 30px;
  background-size: contain;
  align-self: flex-end;
  margin-bottom: 10px;
  cursor: pointer;
}

.black-card {
  border: 1px solid #161616;
  background-color: #161616;
  color: #fbfbfb;
}
.black-card .black-card-edit-icon {
  background-image: url(../images/edit_for_black_cards.svg);
  background-repeat: no-repeat;
}

.white-card {
  border: 1px solid #161616;
  background-color: #fbfbfb;
  color: #161616;
}
.white-card .white-card-edit-icon {
  background-image: url(../images/edit_for_white_cards.svg);
}

.more-btn {
  cursor: pointer;
  align-self: flex-end;
  font-size: 18px;
}

.card-info {
  display: flex;
  flex-direction: column;
}

.card-text {
  height: 300px;
}

/* -- Card Details -- */
.card-details-container {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card-details-container .card-details-left {
  width: 40%;
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-details-container .card-details-left .back-img-container {
  align-self: flex-start;
  padding-bottom: 30px;
}
.card-details-container .card-details-left .back-img {
  width: 30px;
  cursor: pointer;
  margin-left: 10px;
}
.card-details-container .card-details-right {
  width: 60%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-row: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.card-details-container .card-details-right .card-details-white-opt {
  border-radius: 0.25in;
  padding: 10px;
  width: 180px;
  height: 240px;
  font-weight: bolder;
  font-size: 18px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  border: 1px solid #161616;
  background-color: #fbfbfb;
  color: #161616;
}

/* -- New -- */
.bouquet-container {
  text-align: center;
  padding-top: 40px;
}
.bouquet-container img {
  width: 500px;
}

/*# sourceMappingURL=style.css.map */
