/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- Variables ---- */

$almost-black: rgb(22, 22, 22);
$almost-white: rgb(251, 251, 251);

/* ---- typography ---- */

body {
  color: $almost-black;
  background-color: $almost-white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ---- layout ---- */

section {
  width: 100%;
}

/* ---- components ---- */

/* -- navbar -- */

nav {
  height: 68px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: bold;
  background-color: $almost-white;

  .nav-logo {
    display: flex;
    width: 420px;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
  
    .logo-img {
      width: 50px;
    }
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 410px;
    font-size: 20px;

    .nav-link {
      border: 1px solid $almost-black;
      padding: 8px 14px;
      border-radius: 10px;
      box-shadow: 0px 0px 10px 1px rgba(148,148,148,1);
    }
  }

}

/* -- Intro -- */

.intro-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;

  .intro-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 35px;

    .intro-text {
      margin-bottom: 40px;
    }

    .intro-text.title {
      font-weight: bold;
    }
  }

  .intro-right {
    .intro-img {
      width: 550px;
      -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
    }
    .intro-img:hover {
      -webkit-transform: rotate(10deg);
              transform: rotate(10deg);
    }
  }
}


/* -- Card List -- */

.card-list-opt {
  margin-top: 40px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
  font-weight: bold;

  .list-option:hover {
    cursor: pointer;
  }
  .selected-option {
    border-bottom: 1px solid $almost-black;
  }
}

.card-cuadricle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .add-img-container {
    height: 390px;
    display: flex;
    align-items: center;
    margin: 20px 20px 0px 20px;

    .add-card-img {
      width: 50px;
    }
    .add-card-img:hover {
      cursor: pointer;
    }
  }
}

/* -- Create and Edit Card -- */

.add-black-text {
  background-color: $almost-black;
  color: $almost-white;
  font-weight: bolder;
  font-size: 18px;
}

.add-white-text {
  background-color: $almost-white;
  color: $almost-black;
  font-weight: bolder;
  font-size: 18px;
}

.add-card,.edit-card {
  display: flex;
  flex-direction: column;
}

.add-card-btn {
  border: none;
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
  margin-top: 10px;
}


/* -- Card -- */

.guide-card-container {
  margin: 20px 20px 0px 20px;
  height: 390px;
}

%card-shared {
  border-radius: .25in;
  padding: 20px;
  width: 270px;
  height: 380px;
  font-weight: bolder;
  font-size: 22px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}

%card-icon-shared {
  width: 30px;
  height: 30px;
  background-size: contain;
  align-self: flex-end;
  margin-bottom: 10px;
  cursor: pointer;
}

.black-card {
  @extend %card-shared;

  border: 1px solid $almost-black;
  background-color: $almost-black;
  color: $almost-white;

  .black-card-edit-icon {
    @extend %card-icon-shared;
    background-image: url(../images/edit_for_black_cards.svg);
    background-repeat: no-repeat;
  }
}

.white-card {
  @extend %card-shared;

  border: 1px solid $almost-black;
  background-color: $almost-white;
  color: $almost-black;

  .white-card-edit-icon {
    @extend %card-icon-shared;
    background-image: url(../images/edit_for_white_cards.svg)
  }
}

.more-btn {
  cursor: pointer;
  align-self: flex-end;
  font-size: 18px;
}

.card-info {
  display: flex;
  flex-direction: column;
}

.card-text {
  height: 300px;
}

/* -- Card Details -- */

.card-details-container {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .card-details-left {
    width: 40%;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .back-img-container {
      align-self: flex-start;
      padding-bottom: 30px;
    }

    .back-img {
      width: 30px;
      cursor: pointer;
      margin-left: 10px;
    }
  }

  .card-details-right {
    width: 60%;
    display:grid;
    grid-template-columns: 33% 33% 33%;
    grid-row: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    .card-details-white-opt {
      border-radius: .25in;
      padding: 10px;
      width: 180px;
      height: 240px;
      font-weight: bolder;
      font-size: 18px;
      word-wrap: break-word;
      display: flex;
      flex-direction: column;
      border: 1px solid $almost-black;
      background-color: $almost-white;
      color: $almost-black;
    }
  }
}

/* -- New -- */

.bouquet-container {
  text-align: center;
  padding-top: 40px;
  

  img {
    width: 500px;
  }
}